body{
    background-color:azure;
    display: flex;
    justify-content: center;
}

#header{
   margin: 0auto;
}

#section{
    height: 150px;
    width: 150px;
    background-color: white;
    border: 1px solid black;
    margin: 35px;
    text-align: center;

}

.gameScreen{
    display: grid;
    grid-template-columns: repeat(5, 100px);
    height: 500px;
    width: 500px;   
    background-color: blue;

}


#aside{
    height: 150px;
    width: 150px;
    background-color: white;
    border: 1px solid black;
    margin: 35px;
    text-align: center;

}

.footer{
    height: 50px;
    width: 400 px;
    background-color: white;
    border: 1px solid black;
    margin: 35px;
    text-align: center;
}

#input1{
    width: 75px;
}

#input2{
    width: 75px;
}

#playerOne{
    flex-direction: column;
}

#playerTwo{
    align-self: center;
}

.redChip{
    background-color: red;
    height: 75px;
    width: 75px;
    display: block;
    border-radius: 50%;
}


.yellowChip{
    background-color: yellow;
    height: 75px;
    width: 75px;
    display: block;
    border-radius: 50%;
}

.box{
    border: solid black 2px;
}



#pieces{
    display: flex;
    flex-direction: row;
    margin: 10px;
}



#img{
    border-radius: 45%;
}