body{
    background-color:azure;
    justify-content: center;
}

#header{
    height: 50px;
    width: 150px;
    background-color: white;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    align-self: center;
}

#section{
    height: 150px;
    width: 150px;
    background-color: white;
    border: 1px solid black;
    margin: 35px;
    text-align: center;

}

.gameScreen{
    display: grid;
    grid-template-columns: repeat(5, 100px);
    height: 700px;
    width: 1000px;   
    flex-wrap: wrap;
    align-self: center;
    
}


#aside{
    height: 150px;
    width: 150px;
    background-color: white;
    border: 1px solid black;
    margin: 35px;
    text-align: center;

}

.footer{
    height: 50px;
    width: 400 px;
    background-color: white;
    border: 1px solid black;
    margin: 35px;
    text-align: center;
}

#input1{
    width: 75px;
}

#input2{
    width: 75px;
}

#playerOne{
    flex-direction: column;
}

#playerTwo{
    align-self: center;
}

.redChip{
    background-color: red;
    height: 75px;
    width: 75px;
    display: block;
    border-radius: 50%;
}


.yellowChip{
    background-color: yellow;
    height: 75px;
    width: 75px;
    display: block;
    border-radius: 50%;
}

.box{
    border: solid black 2px;
}


